.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
}

.section-1-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;

    padding: 3rem;

    position: relative;
}


.section-1-pp {
    width: 190px;
    height: 190px;

}



.section-1-first-line{
    position: absolute;
    height: 0.1rem;
    width: 100%;
    background-color: #11ff00;
    border-radius: 20px;

    bottom: 0;
}

.section-1-second{
    background-color: red;
}

.section-1-data{
    display: flex;
    justify-content: space-between;
    align-items: center;


}